.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup {
    margin-top: 10px;
    font-size: 14px;
    color: #333; /* Text color to ensure readability */
    text-align: center;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}
  