.header {
    display: flex;
    justify-content: center;
    background-color: #007bff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    padding: 10px 16px;
    color: #f1f1f1;
}